Repository NVIDIA/TensorRT-LLM, changes with the owners that .github/CODEOWNERS names for each.
All owners: @NVIDIA/trt-llm-torch-devs, @NVIDIA/trt-llm-torch-runtime-devs, @NVIDIA/trt-llm-torch-autodeploy-devs, @NVIDIA/trt-llm-torch-spec-decoding, @NVIDIA/trt-llm-torch-graph-compiler, @NVIDIA/trt-llm-torch-models-devs, @NVIDIA/trt-llm-torch-models-nemotron-devs, @NVIDIA/trtllm-bench-reviewers, @NVIDIA/trt-llm-llmapi-devs, @NVIDIA/trt-llm-disagg-devs, @NVIDIA/trt-llm-noncommitted-api-review-committee, @NVIDIA/trt-llm-committed-api-review-committee

.github/CODEOWNERS:

# This file defines code ownership rules for the repository.

# The following rule should only be uncommented on release branches (e.g., release/0.19).
# The rule below requires that any PR to release/**/* branches must be approved by at least one member
# of the NVIDIA/trt-llm-release-branch-approval team, regardless of who else approves the PR.
# Without approval from a member of this team, PRs cannot be merged to release branches.
# * @NVIDIA/trt-llm-release-branch-approval

# TensorRT-LLM Pytorch backend
/tensorrt_llm/_torch @NVIDIA/trt-llm-torch-devs
## TensorRT-LLM Pytorch backend - runtime
/tensorrt_llm/_torch/pyexecutor @NVIDIA/trt-llm-torch-runtime-devs
## TensorRT-LLM Pytorch backend - AutoDeploy flow
/tensorrt_llm/_torch/auto_deploy @NVIDIA/trt-llm-torch-autodeploy-devs
/tensorrt_llm/examples/auto_deploy @NVIDIA/trt-llm-torch-autodeploy-devs

## TensorRT-LLM LLM Pytorch - Speculative Decoding
/tensorrt_llm/_torch/speculative @NVIDIA/trt-llm-torch-spec-decoding

## TensorRT-LLM LLM Pytorch - Graph Compiler
/tensorrt_llm/_torch/compilation @NVIDIA/trt-llm-torch-graph-compiler
/tensorrt_llm/_torch/custom_ops @NVIDIA/trt-llm-torch-graph-compiler

## TensorRT-LLM LLM Pytorch Models
/tensorrt_llm/_torch/models @NVIDIA/trt-llm-torch-models-devs

### TensorRT-LLM LLM Pytorch - Models - Nemotron
/tensorrt_llm/_torch/models/modeling_nemotron_nas.py @NVIDIA/trt-llm-torch-models-nemotron-devs @NVIDIA/trt-llm-torch-models-devs
/tensorrt_llm/_torch/models/modeling_nemotron_h.py @NVIDIA/trt-llm-torch-models-nemotron-devs @NVIDIA/trt-llm-torch-models-devs
/tensorrt_llm/_torch/models/modeling_nemotron_nas.py @NVIDIA/trt-llm-torch-models-nemotron-devs @NVIDIA/trt-llm-torch-models-devs
/tensorrt_llm/_torch/pyexecutor/resource_manager.py @NVIDIA/trt-llm-torch-models-nemotron-devs @NVIDIA/trt-llm-torch-runtime-devs @NVIDIA/trt-llm-torch-models-devs
/tensorrt_llm/_torch/modules/mamba @NVIDIA/trt-llm-torch-models-nemotron-devs @NVIDIA/trt-llm-torch-models-devs
/tensorrt_llm/_torch/models/checkpoints/hf/nemotron_h_weight_mapper.py @NVIDIA/trt-llm-torch-models-nemotron-devs @NVIDIA/trt-llm-torch-models-devs
/tests/unittest/_torch/modeling/test_modeling_nemotron.py @NVIDIA/trt-llm-torch-models-nemotron-devs @NVIDIA/trt-llm-torch-models-devs
/tests/unittest/_torch/modeling/test_modeling_nemotron_h.py @NVIDIA/trt-llm-torch-models-nemotron-devs @NVIDIA/trt-llm-torch-models-devs
/tests/unittest/_torch/modeling/test_modeling_nemotron_nas.py @NVIDIA/trt-llm-torch-models-nemotron-devs @NVIDIA/trt-llm-torch-models-devs

## TensorRT-LLM trtllm-bench Reviewers
/tensorrt_llm/bench @NVIDIA/trtllm-bench-reviewers
/tensorrt_llm/commands/bench.py @NVIDIA/trtllm-bench-reviewers
docs/source/performance/perf-benchmarking.md @NVIDIA/trtllm-bench-reviewers

## TensorRT-LLM LLM API
/tensorrt_llm/llmapi @NVIDIA/trt-llm-llmapi-devs
/tensorrt_llm/executor @NVIDIA/trt-llm-llmapi-devs

## TensorRT-LLM LLM Disaggregated
/examples/disaggregated @NVIDIA/trt-llm-disagg-devs
/tensorrt_llm/disaggregated_params.py @NVIDIA/trt-llm-disagg-devs
/tensorrt_llm/_torch/pyexecutor/kv_cache_transceiver.py @NVIDIA/trt-llm-disagg-devs
/tensorrt_llm/_torch/pyexecutor/py_executor.py @NVIDIA/trt-llm-disagg-devs
/cpp/tensorrt_llm/batch_manager/cacheFormatter.cpp @NVIDIA/trt-llm-disagg-devs
/cpp/tensorrt_llm/batch_manager/cacheFormatter.h @NVIDIA/trt-llm-disagg-devs
/cpp/tensorrt_llm/batch_manager/cacheTransBuffer.cpp @NVIDIA/trt-llm-disagg-devs
/cpp/tensorrt_llm/batch_manager/cacheTransBuffer.h @NVIDIA/trt-llm-disagg-devs
/cpp/tensorrt_llm/batch_manager/cacheTransceiver.cpp @NVIDIA/trt-llm-disagg-devs
/cpp/tensorrt_llm/batch_manager/dataTransceiver.cpp @NVIDIA/trt-llm-disagg-devs
/cpp/tensorrt_llm/batch_manager/dataTransceiver.h @NVIDIA/trt-llm-disagg-devs
/cpp/tensorrt_llm/batch_manager/dataTransceiverImpl.cpp @NVIDIA/trt-llm-disagg-devs
/cpp/tensorrt_llm/batch_manager/dataTransceiverImpl.h @NVIDIA/trt-llm-disagg-devs

# The rule below requires that any PR modifying public APIs must be approved by at least one member
# of the NVIDIA/trt-llm-committed-api-review-committee or NVIDIA/trt-llm-noncommitted-api-review-committee team.
# This approval is mandatory regardless of other approvals the PR may have received. Without approval
# from a member of this team, PRs affecting public APIs cannot be merged to main or release branches.
/tests/unittest/api_stability/ @NVIDIA/trt-llm-noncommitted-api-review-committee
/tests/unittest/api_stability/references_committed/ @NVIDIA/trt-llm-committed-api-review-committee

fix
  jenkins/scripts/get_triton_tag.sh
Owners: none

Update images
  jenkins/controlCCache.groovy
  jenkins/current_image_tags.properties
Owners: none

Update images
  jenkins/controlCCache.groovy
  jenkins/current_image_tags.properties
Owners: none

Update image for cuBLAS downgrade
  jenkins/controlCCache.groovy
  jenkins/current_image_tags.properties
Owners: none

downgrade cuBLAS
  docker/common/install_tensorrt.sh
Owners: none

fix
  jenkins/scripts/get_triton_tag.sh
Owners: none

change for build SBSA
  jenkins/Build.groovy
Owners: none

fix for triton tag
  jenkins/Build.groovy
  jenkins/scripts/get_triton_tag.sh
  tests/integration/defs/triton_server/test_triton.py
  triton_backend/inflight_batcher_llm/scripts/build.sh
Owners: none

Update images
  jenkins/controlCCache.groovy
  jenkins/current_image_tags.properties
Owners: none

fix for review
  docker/common/install_base.sh
  docker/common/install_tensorrt.sh
Owners: none

fix
  jenkins/scripts/get_triton_tag.sh
Owners: none

revert build memory and jobs change
  jenkins/Build.groovy
Owners: none

remove changes to add token and update token
  cpp/include/tensorrt_llm/batch_manager/kvCacheManager.h
  cpp/tensorrt_llm/batch_manager/kvCacheManager.cpp
  cpp/tensorrt_llm/pybind/batch_manager/kvCacheManager.cpp
Owners: none

Update docker images
  jenkins/current_image_tags.properties
Owners: none

fix test
  tests/unittest/llmapi/test_llm_kv_cache_events.py
Owners: none

add the window_size to the KvCacheEvent
  tensorrt_llm/_utils.py
  tests/unittest/llmapi/test_llm_kv_cache_events.py
Owners: none

addressing review comments, fixing placement typos
  tensorrt_llm/_torch/models/modeling_gemma3vl.py
  tensorrt_llm/_torch/models/modeling_hyperclovax.py
  tensorrt_llm/_torch/models/modeling_llama.py
  tensorrt_llm/_torch/models/modeling_llava_next.py
  tensorrt_llm/_torch/models/modeling_mistral.py
  tensorrt_llm/_torch/models/modeling_qwen2vl.py
  tensorrt_llm/_torch/models/modeling_vila.py
  tensorrt_llm/bench/utils/data.py
  tensorrt_llm/inputs/__init__.py
  tensorrt_llm/inputs/registry.py
  tensorrt_llm/inputs/utils.py
  tensorrt_llm/tools/importlib_utils.py
Owners: @NVIDIA/trt-llm-torch-models-devs, @NVIDIA/trtllm-bench-reviewers

[TRTLLM-5271] feat: best_of/n for pytorch workflow
  cpp/include/tensorrt_llm/batch_manager/llmRequest.h
  cpp/tensorrt_llm/pybind/batch_manager/bindings.cpp
  examples/llm-api/quickstart_advanced.py
  tensorrt_llm/_torch/pyexecutor/executor_request_queue.py
  tensorrt_llm/_torch/pyexecutor/llm_request.py
  tensorrt_llm/_torch/pyexecutor/py_executor.py
  tests/unittest/_torch/test_best_of_n.py
Owners: @NVIDIA/trt-llm-torch-runtime-devs, @NVIDIA/trt-llm-disagg-devs

review wip
  cpp/tensorrt_llm/pybind/batch_manager/bindings.cpp
  examples/llm-api/quickstart_advanced.py
  tensorrt_llm/_torch/pyexecutor/llm_request.py
  tensorrt_llm/_torch/pyexecutor/py_executor.py
Owners: @NVIDIA/trt-llm-torch-runtime-devs, @NVIDIA/trt-llm-disagg-devs

more tests and cleanup
  examples/llm-api/quickstart_advanced.py
  tensorrt_llm/_torch/pyexecutor/llm_request.py
  tensorrt_llm/_torch/pyexecutor/py_executor.py
  tests/unittest/_torch/test_best_of_n.py
Owners: @NVIDIA/trt-llm-torch-runtime-devs, @NVIDIA/trt-llm-disagg-devs

Cleanup
  examples/llm-api/quickstart_advanced.py
  tensorrt_llm/_torch/pyexecutor/py_executor.py
Owners: @NVIDIA/trt-llm-disagg-devs

chore: rebase
  cpp/tensorrt_llm/nanobind/batch_manager/bindings.cpp
  tensorrt_llm/_torch/pyexecutor/executor_request_queue.py
  tensorrt_llm/_torch/pyexecutor/py_executor.py
  tests/unittest/_torch/test_best_of_n.py
Owners: @NVIDIA/trt-llm-torch-runtime-devs, @NVIDIA/trt-llm-disagg-devs

chore: rebase and nanobind integration
  cpp/tensorrt_llm/nanobind/batch_manager/bindings.cpp
Owners: none

patch executor queue mocks
  tensorrt_llm/_torch/pyexecutor/executor_request_queue.py
  tensorrt_llm/_torch/pyexecutor/llm_request.py
  tests/unittest/_torch/test_best_of_n.py
  tests/unittest/_torch/test_executor_request_queue.py
Owners: @NVIDIA/trt-llm-torch-runtime-devs

fix: multi-GPU gather responses
  tensorrt_llm/_torch/pyexecutor/py_executor.py
Owners: @NVIDIA/trt-llm-disagg-devs

Add multimodal in the feature section
  docs/source/1.0/features/multi-modality.md
Owners: none

[None][fix] Serialize the window_size in the kv event (#6526)
  tensorrt_llm/_utils.py
  tests/unittest/llmapi/test_llm_kv_cache_events.py
Owners: none

add support for the overlap scheduler + little refactoring
  tensorrt_llm/_torch/pyexecutor/_util.py
  tensorrt_llm/_torch/pyexecutor/py_executor.py
  tensorrt_llm/_torch/pyexecutor/py_executor_creator.py
  tensorrt_llm/_torch/pyexecutor/resource_manager.py
  tensorrt_llm/_torch/pyexecutor/scheduler.py
  tests/integration/defs/llmapi/test_llm_api_connector.py
Owners: @NVIDIA/trt-llm-torch-runtime-devs, @NVIDIA/trt-llm-disagg-devs, @NVIDIA/trt-llm-torch-models-nemotron-devs, @NVIDIA/trt-llm-torch-models-devs

add xqa spec-dec kernel multi block tuning heuristic
  cpp/tensorrt_llm/kernels/decoderMaskedMultiheadAttention/decoderXQAImplCommon.h
  cpp/tensorrt_llm/kernels/decoderMaskedMultiheadAttention/decoderXQAImplJIT/decoderXQAImplJIT.cpp
  cpp/tensorrt_llm/plugins/gptAttentionPlugin/gptAttentionPlugin.cpp
Owners: none

enable multiblock in torch attentionOp.cpp
  cpp/tensorrt_llm/common/attentionOp.cpp
  cpp/tensorrt_llm/kernels/decoderMaskedMultiheadAttention/decoderXQAImplCommon.h
  cpp/tensorrt_llm/kernels/decoderMaskedMultiheadAttention/decoderXQAImplJIT/decoderXQAImplJIT.cpp
  cpp/tensorrt_llm/plugins/gptAttentionPlugin/gptAttentionPlugin.cpp
  cpp/tensorrt_llm/thop/attentionOp.cpp
Owners: none

enable trt backend sd kernel multi-block mode
  cpp/tensorrt_llm/plugins/gptAttentionCommon/gptAttentionCommon.cpp
  cpp/tensorrt_llm/plugins/gptAttentionPlugin/gptAttentionPlugin.cpp
Owners: none

[None][chore] Add unit test for Gemma3 lora
  tensorrt_llm/_torch/models/modeling_gemma3.py
  tests/unittest/llmapi/test_llm_pytorch.py
Owners: @NVIDIA/trt-llm-torch-models-devs

[feat] Add int8_gptq options in convert_checkpoint.py for Qwen TRT path
  examples/models/core/qwen/convert_checkpoint.py
Owners: none

remove multi-block mode for precompiled XQA, and spec-dec but not QGMMA path
  cpp/tensorrt_llm/kernels/decoderMaskedMultiheadAttention/decoderXQAImplJIT/decoderXQAImplJIT.cpp
  cpp/tensorrt_llm/kernels/decoderMaskedMultiheadAttention/decoderXQAImplPrecompiled.cpp
Owners: none

little cleanup
  cpp/tensorrt_llm/pybind/batch_manager/kvCacheConnector.cpp
  tensorrt_llm/_torch/pyexecutor/connector.py
  tensorrt_llm/_torch/pyexecutor/py_executor.py
  tests/integration/defs/llmapi/test_llm_api_connector.py
Owners: @NVIDIA/trt-llm-torch-runtime-devs, @NVIDIA/trt-llm-disagg-devs

[None][feat] Add support of scheduling attention dp request (#6246)
  tensorrt_llm/_torch/pyexecutor/executor_request_queue.py
  tensorrt_llm/executor/executor.py
  tensorrt_llm/executor/request.py
  tensorrt_llm/executor/worker.py
  tensorrt_llm/llmapi/llm.py
  tensorrt_llm/scheduling_params.py
  tests/unittest/_torch/test_executor_request_queue.py
  tests/unittest/api_stability/references/llm.yaml
Owners: @NVIDIA/trt-llm-torch-runtime-devs, @NVIDIA/trt-llm-llmapi-devs, @NVIDIA/trt-llm-noncommitted-api-review-committee
