Repository NVIDIA/TensorRT-LLM, changes with the owners that .github/CODEOWNERS names for each.
All owners: @hyukn, @litaotju, @amukkara, @chang-l, @QiJune, @hlu1, @yuxianq, @lucaslie, @suyoggupta, @yizhang-nv, @liji-nv, @yilin-void, @byshiue, @shaharmor98, @dongxuy04, @HuiGao-NV, @lfr-0531, @mikeiovine, @zongfeijing, @NVIDIA/trt-llm-noncommitted-api-review-committee, @NVIDIA/trt-llm-committed-api-review-committee

.github/CODEOWNERS:

# This file defines code ownership rules for the repository.

# The following rule should only be uncommented on release branches (e.g., release/0.19).
# The rule below requires that any PR to release/**/* branches must be approved by at least one member
# of the NVIDIA/trt-llm-release-branch-approval team, regardless of who else approves the PR.
# Without approval from a member of this team, PRs cannot be merged to release branches.
# * @NVIDIA/trt-llm-release-branch-approval

# Core TensorRT-LLM
/tensorrt_llm/autotuner.py @hyukn @litaotju
/tensorrt_llm/pipeline_interface.py @amukkara @chang-l

# Pytorch backend
/tensorrt_llm/_torch @QiJune @hlu1
/tensorrt_llm/_torch/attention_backend @yuxianq @hlu1
/tensorrt_llm/_torch/auto_deploy @lucaslie @suyoggupta
/tensorrt_llm/_torch/compilation @litaotju @yizhang-nv @liji-nv
/tensorrt_llm/_torch/custom_ops @yizhang-nv
/tensorrt_llm/_torch/distributed @yilin-void @yuxianq @hyukn @yizhang-nv @hlu1
/tensorrt_llm/_torch/peft @byshiue @shaharmor98
/tensorrt_llm/_torch/pyexecutor @dongxuy04 @HuiGao-NV
/tensorrt_llm/_torch/speculative @lfr-0531 @mikeiovine
/tensorrt_llm/_torch/models/modeling_deepseekv3.py @hlu1 @zongfeijing
/tensorrt_llm/_torch/models/modeling_llama.py @chang-l @mikeiovine
/tensorrt_llm/_torch/models/modeling_qwen3_moe.py @byshiue
/tensorrt_llm/_torch/models/modeling_qwen3.py @byshiue
/tensorrt_llm/_torch/modules/attention.py @yuxianq @hlu1
/tensorrt_llm/_torch/modules/fused_moe.py @hlu1 @dongxuy04 @zongfeijing @HuiGao-NV

# Examples
/examples/pytorch @QiJune @hlu1

# The rule below requires that any PR modifying public APIs must be approved by at least one member
# of the NVIDIA/trt-llm-committed-api-review-committee or NVIDIA/trt-llm-noncommitted-api-review-committee team.
# This approval is mandatory regardless of other approvals the PR may have received. Without approval
# from a member of this team, PRs affecting public APIs cannot be merged to main or release branches.
/tests/unittest/api_stability/ @NVIDIA/trt-llm-noncommitted-api-review-committee
/tests/unittest/api_stability/references_committed/ @NVIDIA/trt-llm-committed-api-review-committee

[perf] Manually free some tensors in TrtllmAttention to reduce memory usage
  tensorrt_llm/_torch/attention_backend/trtllm.py
Owners: @yuxianq, @hlu1

use softlink in switcher.json
  0.18.2/_static/switcher.json
  0.19.0/_static/switcher.json
  0.19.0rc0/_static/switcher.json
  0.20.0rc0/_static/switcher.json
  latest/_static/switcher.json
Owners: none

[feat] Support HyperCLOVAX-SEED-Text language part (#3902)
  examples/models/contrib/hyperclovax/README.md
  examples/pytorch/README.md
  tests/integration/test_lists/test-db/l0_a30.yml
Owners: @QiJune, @hlu1

fix url in switcher.json
  _static/switcher.json
Owners: none

fix: Reset planned states to avoid memory leak in TrtllmAttentionWrapper
  tensorrt_llm/_torch/attention_backend/trtllm.py
Owners: @yuxianq, @hlu1
