Repository NVIDIA/TensorRT-LLM, changes with the owners that .github/CODEOWNERS names for each.
All owners: @NVIDIA/trt-llm-torch-devs, @NVIDIA/trt-llm-torch-runtime-devs, @NVIDIA/trt-llm-torch-autodeploy-devs, @NVIDIA/trt-llm-torch-spec-decoding, @NVIDIA/trt-llm-torch-graph-compiler, @NVIDIA/trt-llm-torch-models-devs, @NVIDIA/trt-llm-torch-models-nemotron-devs, @NVIDIA/trtllm-bench-reviewers, @NVIDIA/trt-llm-llmapi-devs, @NVIDIA/trt-llm-disagg-devs, @NVIDIA/trt-llm-noncommitted-api-review-committee, @NVIDIA/trt-llm-committed-api-review-committee

.github/CODEOWNERS:

# This file defines code ownership rules for the repository.

# The following rule should only be uncommented on release branches (e.g., release/0.19).
# The rule below requires that any PR to release/**/* branches must be approved by at least one member
# of the NVIDIA/trt-llm-release-branch-approval team, regardless of who else approves the PR.
# Without approval from a member of this team, PRs cannot be merged to release branches.
# * @NVIDIA/trt-llm-release-branch-approval

# TensorRT-LLM Pytorch backend
/tensorrt_llm/_torch @NVIDIA/trt-llm-torch-devs
## TensorRT-LLM Pytorch backend - runtime
/tensorrt_llm/_torch/pyexecutor @NVIDIA/trt-llm-torch-runtime-devs
## TensorRT-LLM Pytorch backend - AutoDeploy flow
/tensorrt_llm/_torch/auto_deploy @NVIDIA/trt-llm-torch-autodeploy-devs
/tensorrt_llm/examples/auto_deploy @NVIDIA/trt-llm-torch-autodeploy-devs

## TensorRT-LLM LLM Pytorch - Speculative Decoding
/tensorrt_llm/_torch/speculative @NVIDIA/trt-llm-torch-spec-decoding

## TensorRT-LLM LLM Pytorch - Graph Compiler
/tensorrt_llm/_torch/compilation @NVIDIA/trt-llm-torch-graph-compiler
/tensorrt_llm/_torch/custom_ops @NVIDIA/trt-llm-torch-graph-compiler

## TensorRT-LLM LLM Pytorch Models
/tensorrt_llm/_torch/models @NVIDIA/trt-llm-torch-models-devs

### TensorRT-LLM LLM Pytorch - Models - Nemotron
/tensorrt_llm/_torch/models/modeling_nemotron_nas.py @NVIDIA/trt-llm-torch-models-nemotron-devs @NVIDIA/trt-llm-torch-models-devs
/tensorrt_llm/_torch/models/modeling_nemotron_h.py @NVIDIA/trt-llm-torch-models-nemotron-devs @NVIDIA/trt-llm-torch-models-devs
/tensorrt_llm/_torch/models/modeling_nemotron_nas.py @NVIDIA/trt-llm-torch-models-nemotron-devs @NVIDIA/trt-llm-torch-models-devs
/tensorrt_llm/_torch/pyexecutor/resource_manager.py @NVIDIA/trt-llm-torch-models-nemotron-devs @NVIDIA/trt-llm-torch-runtime-devs @NVIDIA/trt-llm-torch-models-devs
/tensorrt_llm/_torch/modules/mamba @NVIDIA/trt-llm-torch-models-nemotron-devs @NVIDIA/trt-llm-torch-models-devs
/tensorrt_llm/_torch/models/checkpoints/hf/nemotron_h_weight_mapper.py @NVIDIA/trt-llm-torch-models-nemotron-devs @NVIDIA/trt-llm-torch-models-devs
/tests/unittest/_torch/modeling/test_modeling_nemotron.py @NVIDIA/trt-llm-torch-models-nemotron-devs @NVIDIA/trt-llm-torch-models-devs
/tests/unittest/_torch/modeling/test_modeling_nemotron_h.py @NVIDIA/trt-llm-torch-models-nemotron-devs @NVIDIA/trt-llm-torch-models-devs
/tests/unittest/_torch/modeling/test_modeling_nemotron_nas.py @NVIDIA/trt-llm-torch-models-nemotron-devs @NVIDIA/trt-llm-torch-models-devs

## TensorRT-LLM trtllm-bench Reviewers
/tensorrt_llm/bench @NVIDIA/trtllm-bench-reviewers
/tensorrt_llm/commands/bench.py @NVIDIA/trtllm-bench-reviewers
docs/source/performance/perf-benchmarking.md @NVIDIA/trtllm-bench-reviewers

## TensorRT-LLM LLM API
/tensorrt_llm/llmapi @NVIDIA/trt-llm-llmapi-devs
/tensorrt_llm/executor @NVIDIA/trt-llm-llmapi-devs

## TensorRT-LLM LLM Disaggregated
/examples/disaggregated @NVIDIA/trt-llm-disagg-devs
/tensorrt_llm/disaggregated_params.py @NVIDIA/trt-llm-disagg-devs
/tensorrt_llm/_torch/pyexecutor/kv_cache_transceiver.py @NVIDIA/trt-llm-disagg-devs
/tensorrt_llm/_torch/pyexecutor/py_executor.py @NVIDIA/trt-llm-disagg-devs
/cpp/tensorrt_llm/batch_manager/cacheFormatter.cpp @NVIDIA/trt-llm-disagg-devs
/cpp/tensorrt_llm/batch_manager/cacheFormatter.h @NVIDIA/trt-llm-disagg-devs
/cpp/tensorrt_llm/batch_manager/cacheTransBuffer.cpp @NVIDIA/trt-llm-disagg-devs
/cpp/tensorrt_llm/batch_manager/cacheTransBuffer.h @NVIDIA/trt-llm-disagg-devs
/cpp/tensorrt_llm/batch_manager/cacheTransceiver.cpp @NVIDIA/trt-llm-disagg-devs
/cpp/tensorrt_llm/batch_manager/dataTransceiver.cpp @NVIDIA/trt-llm-disagg-devs
/cpp/tensorrt_llm/batch_manager/dataTransceiver.h @NVIDIA/trt-llm-disagg-devs
/cpp/tensorrt_llm/batch_manager/dataTransceiverImpl.cpp @NVIDIA/trt-llm-disagg-devs
/cpp/tensorrt_llm/batch_manager/dataTransceiverImpl.h @NVIDIA/trt-llm-disagg-devs

# The rule below requires that any PR modifying public APIs must be approved by at least one member
# of the NVIDIA/trt-llm-committed-api-review-committee or NVIDIA/trt-llm-noncommitted-api-review-committee team.
# This approval is mandatory regardless of other approvals the PR may have received. Without approval
# from a member of this team, PRs affecting public APIs cannot be merged to main or release branches.
/tests/unittest/api_stability/ @NVIDIA/trt-llm-noncommitted-api-review-committee
/tests/unittest/api_stability/references_committed/ @NVIDIA/trt-llm-committed-api-review-committee

add unit test
  tests/unittest/_torch/modules/test_fused_moe.py
Owners: none

feat: Add support for fused gate_up_proj scales for FP8 blockwise
  tensorrt_llm/_torch/modules/fused_moe/quantization.py
Owners: @NVIDIA/trt-llm-torch-devs

Created doc: deployment-guide-template. Signed-off-by: Jamie Li <223551287+jamieliNVIDIA@users.noreply.github.com>
  examples/models/core/templates/deployment-guide-for-[framework_name]-[model_name].md
Owners: none

Update deployment-guide-for-[framework_name]-[model_name].md
  examples/models/core/templates/deployment-guide-for-[framework_name]-[model_name].md
Owners: none

Update deployment-guide-for-[framework_name]-[model_name].md
  examples/models/core/templates/deployment-guide-for-[framework_name]-[model_name].md
Owners: none

Ignore context for presence and frequency penalties. Matches calculation in vllm.
  cpp/tensorrt_llm/kernels/penaltyKernels.cu
Owners: none

Initial cpp binding stuff
  cpp/include/tensorrt_llm/batch_manager/kvCacheConnector.h
  cpp/tensorrt_llm/batch_manager/CMakeLists.txt
  cpp/tensorrt_llm/batch_manager/kvCacheConnector.cpp
  cpp/tensorrt_llm/pybind/batch_manager/bindings.cpp
  cpp/tensorrt_llm/pybind/batch_manager/kvCacheConnector.h
Owners: none

Hook into torch runtime and py executor
  tensorrt_llm/_torch/pyexecutor/_util.py
  tensorrt_llm/_torch/pyexecutor/py_executor.py
  tensorrt_llm/_torch/pyexecutor/py_executor_creator.py
  tensorrt_llm/executor/executor.py
  tensorrt_llm/executor/proxy.py
  tensorrt_llm/executor/worker.py
  tensorrt_llm/llmapi/llm.py
  tests/unittest/bindings/test_connector_bindings.py
Owners: @NVIDIA/trt-llm-torch-runtime-devs, @NVIDIA/trt-llm-disagg-devs, @NVIDIA/trt-llm-llmapi-devs

Basic connector tests
  tensorrt_llm/_torch/pyexecutor/connector.py
  tensorrt_llm/llmapi/llm_args.py
  tensorrt_llm/models/modeling_utils.py
  tests/unittest/bindings/test_connector_bindings.py
Owners: @NVIDIA/trt-llm-torch-runtime-devs, @NVIDIA/trt-llm-llmapi-devs

Little fixes
  cpp/include/tensorrt_llm/batch_manager/kvCacheConnector.h
  cpp/tensorrt_llm/batch_manager/kvCacheManager.cpp
  cpp/tensorrt_llm/pybind/batch_manager/kvCacheConnector.cpp
  tensorrt_llm/_torch/pyexecutor/py_executor.py
  tensorrt_llm/_torch/pyexecutor/resource_manager.py
Owners: @NVIDIA/trt-llm-disagg-devs, @NVIDIA/trt-llm-torch-models-nemotron-devs, @NVIDIA/trt-llm-torch-runtime-devs, @NVIDIA/trt-llm-torch-models-devs

Expose block pools as torch tensor
  cpp/include/tensorrt_llm/batch_manager/kvCacheConnector.h
  cpp/include/tensorrt_llm/batch_manager/kvCacheManager.h
  cpp/tensorrt_llm/batch_manager/kvCacheManager.cpp
  cpp/tensorrt_llm/pybind/CMakeLists.txt
  cpp/tensorrt_llm/pybind/batch_manager/bindings.cpp
  cpp/tensorrt_llm/pybind/batch_manager/kvCacheConnector.cpp
  cpp/tensorrt_llm/pybind/batch_manager/kvCacheConnector.h
  cpp/tensorrt_llm/pybind/batch_manager/kvCacheManager.cpp
  cpp/tensorrt_llm/pybind/bindings.cpp
  tensorrt_llm/_torch/pyexecutor/py_executor.py
Owners: @NVIDIA/trt-llm-disagg-devs

more little fixes - dont instantiate twice
  cpp/tensorrt_llm/batch_manager/kvCacheManager.cpp
  tensorrt_llm/_torch/pyexecutor/connector.py
  tensorrt_llm/_torch/pyexecutor/py_executor_creator.py
Owners: @NVIDIA/trt-llm-torch-runtime-devs

MEGA REFACTOR, move scheduler and worker into their own class, do init inside py_executor_creator, pass connector manager to kv cache manager
  cpp/include/tensorrt_llm/batch_manager/kvCacheConnector.h
  cpp/tensorrt_llm/batch_manager/kvCacheConnector.cpp
  cpp/tensorrt_llm/pybind/batch_manager/kvCacheConnector.cpp
  tensorrt_llm/_torch/pyexecutor/_util.py
  tensorrt_llm/_torch/pyexecutor/connector.py
  tensorrt_llm/_torch/pyexecutor/py_executor.py
  tensorrt_llm/_torch/pyexecutor/py_executor_creator.py
  tensorrt_llm/_torch/pyexecutor/resource_manager.py
  tensorrt_llm/models/modeling_utils.py
  tests/unittest/bindings/test_connector_bindings.py
Owners: @NVIDIA/trt-llm-torch-runtime-devs, @NVIDIA/trt-llm-disagg-devs, @NVIDIA/trt-llm-torch-models-nemotron-devs, @NVIDIA/trt-llm-torch-models-devs

Get num new matched tokens
  cpp/include/tensorrt_llm/batch_manager/kvCacheConnector.h
  cpp/include/tensorrt_llm/batch_manager/kvCacheManager.h
  cpp/tensorrt_llm/batch_manager/kvCacheManager.cpp
  cpp/tensorrt_llm/pybind/batch_manager/kvCacheConnector.cpp
  cpp/tensorrt_llm/pybind/batch_manager/kvCacheManager.cpp
  tensorrt_llm/_torch/pyexecutor/connector.py
  tensorrt_llm/_torch/pyexecutor/py_executor_creator.py
  tensorrt_llm/_torch/pyexecutor/resource_manager.py
Owners: @NVIDIA/trt-llm-torch-runtime-devs, @NVIDIA/trt-llm-torch-models-nemotron-devs, @NVIDIA/trt-llm-torch-models-devs

Scheduler Output bindings
  cpp/include/tensorrt_llm/batch_manager/kvCacheConnector.h
  cpp/tensorrt_llm/pybind/batch_manager/kvCacheConnector.cpp
Owners: none

async load and resume
  cpp/include/tensorrt_llm/batch_manager/kvCacheConnector.h
  cpp/tensorrt_llm/batch_manager/kvCacheConnector.cpp
  cpp/tensorrt_llm/batch_manager/kvCacheManager.cpp
  cpp/tensorrt_llm/pybind/batch_manager/kvCacheConnector.cpp
  tensorrt_llm/_torch/pyexecutor/connector.py
  tensorrt_llm/_torch/pyexecutor/py_executor.py
Owners: @NVIDIA/trt-llm-torch-runtime-devs, @NVIDIA/trt-llm-disagg-devs

Suspend requests for async onboard
  cpp/include/tensorrt_llm/batch_manager/kvCacheConnector.h
  cpp/tensorrt_llm/batch_manager/kvCacheManager.cpp
  cpp/tensorrt_llm/pybind/batch_manager/kvCacheConnector.cpp
  tensorrt_llm/_torch/pyexecutor/connector.py
  tensorrt_llm/_torch/pyexecutor/py_executor.py
Owners: @NVIDIA/trt-llm-torch-runtime-devs, @NVIDIA/trt-llm-disagg-devs

Move a ton of stuff out of c++ into python
  cpp/include/tensorrt_llm/batch_manager/kvCacheConnector.h
  cpp/tensorrt_llm/batch_manager/CMakeLists.txt
  cpp/tensorrt_llm/batch_manager/kvCacheConnector.cpp
  cpp/tensorrt_llm/pybind/batch_manager/kvCacheConnector.cpp
  tensorrt_llm/_torch/pyexecutor/connector.py
Owners: @NVIDIA/trt-llm-torch-runtime-devs

Little cleanup
  cpp/include/tensorrt_llm/batch_manager/kvCacheConnector.h
  cpp/include/tensorrt_llm/batch_manager/llmRequest.h
  cpp/tensorrt_llm/batch_manager/kvCacheManager.cpp
  cpp/tensorrt_llm/pybind/batch_manager/bindings.cpp
  cpp/tensorrt_llm/pybind/batch_manager/kvCacheConnector.cpp
  tensorrt_llm/_torch/pyexecutor/connector.py
  tensorrt_llm/_torch/pyexecutor/resource_manager.py
Owners: @NVIDIA/trt-llm-torch-runtime-devs, @NVIDIA/trt-llm-torch-models-nemotron-devs, @NVIDIA/trt-llm-torch-models-devs

Worker-side hooks
  tensorrt_llm/_torch/pyexecutor/connector.py
  tensorrt_llm/_torch/pyexecutor/py_executor.py
Owners: @NVIDIA/trt-llm-torch-runtime-devs, @NVIDIA/trt-llm-disagg-devs

scheduler output for build_connector_meta
  cpp/include/tensorrt_llm/batch_manager/kvCacheManager.h
  cpp/tensorrt_llm/batch_manager/kvCacheManager.cpp
  cpp/tensorrt_llm/pybind/batch_manager/kvCacheManager.cpp
  tensorrt_llm/_torch/pyexecutor/connector.py
  tensorrt_llm/_torch/pyexecutor/py_executor.py
  tensorrt_llm/_torch/pyexecutor/resource_manager.py
Owners: @NVIDIA/trt-llm-torch-runtime-devs, @NVIDIA/trt-llm-disagg-devs, @NVIDIA/trt-llm-torch-models-nemotron-devs, @NVIDIA/trt-llm-torch-models-devs

A whole bunch of unit tests
  cpp/include/tensorrt_llm/batch_manager/kvCacheConnector.h
  cpp/tensorrt_llm/pybind/batch_manager/kvCacheConnector.cpp
  cpp/tensorrt_llm/pybind/batch_manager/kvCacheManager.cpp
  tensorrt_llm/_torch/pyexecutor/connector.py
  tensorrt_llm/_torch/pyexecutor/py_executor.py
  tests/unittest/_torch/test_connector.py
  tests/unittest/bindings/test_connector_bindings.py
Owners: @NVIDIA/trt-llm-torch-runtime-devs, @NVIDIA/trt-llm-disagg-devs

small refactorings and docs
  cpp/include/tensorrt_llm/batch_manager/kvCacheConnector.h
  cpp/include/tensorrt_llm/batch_manager/kvCacheManager.h
  cpp/tensorrt_llm/batch_manager/kvCacheManager.cpp
  cpp/tensorrt_llm/pybind/batch_manager/bindings.cpp
  cpp/tensorrt_llm/pybind/batch_manager/kvCacheManager.cpp
  tensorrt_llm/_torch/pyexecutor/connector.py
  tensorrt_llm/_torch/pyexecutor/py_executor.py
  tensorrt_llm/_torch/pyexecutor/resource_manager.py
Owners: @NVIDIA/trt-llm-torch-runtime-devs, @NVIDIA/trt-llm-disagg-devs, @NVIDIA/trt-llm-torch-models-nemotron-devs, @NVIDIA/trt-llm-torch-models-devs

Integration tests for async save and load
  tensorrt_llm/_torch/pyexecutor/py_executor.py
  tests/integration/defs/llmapi/test_llm_api_connector.py
Owners: @NVIDIA/trt-llm-disagg-devs

start on integration tests
  tensorrt_llm/_torch/pyexecutor/py_executor.py
  tensorrt_llm/_torch/pyexecutor/resource_manager.py
  tensorrt_llm/_torch/pyexecutor/scheduler.py
  tests/integration/defs/llmapi/test_llm_api_connector.py
Owners: @NVIDIA/trt-llm-disagg-devs, @NVIDIA/trt-llm-torch-models-nemotron-devs, @NVIDIA/trt-llm-torch-runtime-devs, @NVIDIA/trt-llm-torch-models-devs

Fix wait_for_save
  tensorrt_llm/_torch/pyexecutor/py_executor.py
Owners: @NVIDIA/trt-llm-disagg-devs

precommit
  tensorrt_llm/_torch/pyexecutor/_util.py
  tensorrt_llm/_torch/pyexecutor/py_executor.py
Owners: @NVIDIA/trt-llm-torch-runtime-devs, @NVIDIA/trt-llm-disagg-devs

Chunked prefill tests
  tests/integration/defs/llmapi/test_llm_api_connector.py
Owners: none

Simplify add token stuff
  cpp/include/tensorrt_llm/batch_manager/kvCacheConnector.h
  cpp/include/tensorrt_llm/batch_manager/kvCacheManager.h
  cpp/tensorrt_llm/batch_manager/kvCacheManager.cpp
  cpp/tensorrt_llm/pybind/batch_manager/kvCacheManager.cpp
  tensorrt_llm/_torch/pyexecutor/connector.py
  tensorrt_llm/_torch/pyexecutor/py_executor.py
  tensorrt_llm/_torch/pyexecutor/resource_manager.py
  tests/integration/defs/llmapi/test_llm_api_connector.py
Owners: @NVIDIA/trt-llm-torch-runtime-devs, @NVIDIA/trt-llm-disagg-devs, @NVIDIA/trt-llm-torch-models-nemotron-devs, @NVIDIA/trt-llm-torch-models-devs

Tests for scheduler metadata
  tensorrt_llm/_torch/pyexecutor/connector.py
  tensorrt_llm/_torch/pyexecutor/py_executor_creator.py
  tensorrt_llm/_torch/pyexecutor/resource_manager.py
  tests/integration/defs/llmapi/test_llm_api_connector.py
Owners: @NVIDIA/trt-llm-torch-runtime-devs, @NVIDIA/trt-llm-torch-models-nemotron-devs, @NVIDIA/trt-llm-torch-models-devs

simplify register_kv_caches handling
  cpp/include/tensorrt_llm/batch_manager/kvCacheConnector.h
  cpp/include/tensorrt_llm/batch_manager/kvCacheManager.h
  cpp/tensorrt_llm/batch_manager/kvCacheManager.cpp
  cpp/tensorrt_llm/pybind/batch_manager/kvCacheConnector.cpp
  cpp/tensorrt_llm/pybind/batch_manager/kvCacheManager.cpp
  cpp/tensorrt_llm/runtime/torch.h
  tensorrt_llm/_torch/pyexecutor/connector.py
  tensorrt_llm/_torch/pyexecutor/py_executor.py
  tensorrt_llm/_torch/pyexecutor/resource_manager.py
Owners: @NVIDIA/trt-llm-torch-runtime-devs, @NVIDIA/trt-llm-disagg-devs, @NVIDIA/trt-llm-torch-models-nemotron-devs, @NVIDIA/trt-llm-torch-models-devs

apply reviews
  tensorrt_llm/_torch/pyexecutor/llm_request.py
  tensorrt_llm/_torch/pyexecutor/sampler.py
  tensorrt_llm/sampling_params.py
Owners: @NVIDIA/trt-llm-torch-runtime-devs

[Infra][TRTLLM-6224] - Upgrade dependencies to DLFW 25.06 and CUDA 12.9.1
  README.md
  constraints.txt
  docker/Dockerfile.multi
  docker/Makefile
  docker/common/install_cuda_toolkit.sh
  docker/common/install_pytorch.sh
  docker/common/install_tensorrt.sh
  docs/source/reference/support-matrix.md
  jenkins/L0_Test.groovy
  requirements.txt
Owners: none

Update images
  jenkins/controlCCache.groovy
Owners: none

remove WARs
  docker/Dockerfile.multi
Owners: none

reinstall libibverbs-dev to fix libmlx5 issue
  docker/common/install_base.sh
Owners: none

Update images
  jenkins/controlCCache.groovy
  jenkins/current_image_tags.properties
Owners: none

Update images
  jenkins/controlCCache.groovy
Owners: none

Update images
  jenkins/controlCCache.groovy
  jenkins/current_image_tags.properties
Owners: none

[nvbugs/5376229] - Fix
  tests/integration/defs/test_e2e.py
Owners: none
